@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@400;700&display=swap");

/* Main Page Title */
.main-title-custom {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
}

.main-title-custom-green {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #2bc610;
}

.main-title-custom-blue {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #2563eb;
}


/* page header */
.page-header-custom {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #334155; /* slate-700 */
}

.page-subtitle-custom {
  font-family: "Inter", sans-serif;
  font-size: 12px; 
  font-weight: 400;
  color: #64748b; 
}


/* Section Headers */
.section-header-custom {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #1a1818;
}
.section-header-custom-blue {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #2563eb;
}

.section-header-custom-white {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

/* Main Navigation Links */
.main-nav-custom-setting {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #777575;
  text-decoration: none;
  /* border-bottom: 1px solid #757575; */
  border-top: 0px none transparent;
  border-left: 0px none transparent;
  border-right: 0px none transparent;
  text-wrap: nowrap;
  /* background-color: #ebebebf5; */
}

.main-nav-custom {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #757575;
  text-decoration: none;
  border-bottom: 1px solid #757575;
  border-top: 0px none transparent;
  border-left: 0px none transparent;
  border-right: 0px none transparent;
  text-wrap: nowrap;
}
.main-nav-custom-setting.active-header-setting {
  color: #2563eb;
  /* color: #f01db8; */
  border-top: 0px none transparent;
  border-left: 0px none transparent;
  border-right: 0px none transparent;
  border: 1px solid #8d8f91;
  /* border-bottom: 3px solid #f01db8; */
  box-shadow: none;
  border-radius: 6px;
  white-space: nowrap;
  overflow-x: auto;
   transition: border-bottom 0.01s ease-in; 
   background-color: white;
}

.main-nav-custom.active-header {
  color: #2563eb;
  /* color: #f01db8; */
  border-top: 0px none transparent;
  border-left: 0px none transparent;
  border-right: 0px none transparent;
  border-bottom: 3px solid #2563eb;
  /* border-bottom: 3px solid #f01db8; */
  border-radius: 0px;
  box-shadow: none;
  border-radius: 2px;
  white-space: nowrap;
  overflow-x: auto;
   transition: border-bottom 0.01s ease-in; 
}

.main-nav-custom.active-tab {
  /* color: #f01db8; */
  color : #2563eb;
  border : none;
}

.main-nav-custom-setting.active-tab-setting {
  /* color: #f01db8; */
  color : #171718;
  /* border : 1px solid rgb(97, 93, 93);
  border-radius: 3px; */
  
}


/* Table Header */
.table-header-custom {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
}

.table-header-custom-blue {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #2563eb;
}

.table-header-custom-white {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.table-header-custom.active {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #0D9488;
  
}

.table-header-custom-green {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #22c55e;
}

/* Table Data */
.table-data-custom {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #363535;
}

.card-header {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #363535;
}

.card-data {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #363535;
}


/* Action Buttons */
.action-btn-custom {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}

.button-import {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #1f2937; /* dark gray */
  cursor: pointer;
  
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  gap: 8px;

  border: 1px solid #d1d5db;
  border-radius: 7px;
  padding: 6px 14px;

  transition: all 0.2s ease-in-out;
}

/* Hover state */
.button-import:hover {
  background-color: #f3f4f6;
  border-color: #9ca3af;
}

/* Active (click) state */
.button-import:active {
  transform: scale(0.98);
}

/* Optional: subtle shadow on hover */
/* .button-import:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
} */
.action-btn-custom.disabled-btn {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  cursor: not-allowed;
}

.action-btn.primary {
  background-color: #f01db8;
}

/* .action-btn.accent {
} */

/* Small Captions (dates, status) */
.caption-custom {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400; /* Maps to Regular */
  color: #757575;
}

.font-sans-status-card {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 0.05em;
  width: fit-content;
  font-weight: 500;
  gap: 5px;
  padding: 5px;
  border-radius: 6px;
  height: 22px;
  /*  gap-1 px-2 py-1 h-6 rounded-lg font-medium   */
  /* font-weight: 400; */
}



.caption-custom.white-text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400; /* Maps to Regular */
  color: white;
}

.caption-custom-blue {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400; /* Maps to Regular */
  color: #2563eb;
}

.caption-custom-teal {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400; /* Maps to Regular */
  color: #0D9488;
}
.caption-custom-yellow {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400; /* Maps to Regular */
  color: #ebeb25;
}

.caption-custom-active {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400; /* Maps to Regular */
  color: #22c55e;
}

.caption-custom-inactive {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400; /* Maps to Regular */
  color: #ef4444;
}

.caption-custom-black {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400; /* Maps to Regular */
  color: black;
}

.caption-custom-orange {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400; /* Maps to Regular */
  color: #eb9225;
}


/* Input Labels */
.dashboard-card-headers {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 600; /* Maps to Regular */
  color: #5e5e5e;
}

.dashboard-card-headers-value {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600; /* Maps to Regular */
  color: #1f1e1e;
}
/* Input Labels */
.input-label-custom {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400; /* Maps to Regular */
  color: #333333;
}

.input-label-custom-white {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400; /* Maps to Regular */
  color: #fff;
}

.input-label-custom-active-tab {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400; /* Maps to Regular */
  color: #0D9488;
}

.input-label-custom-active {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400; /* Maps to Regular */
  color: #22c55e;
}

.input-label-custom-inactive {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400; /* Maps to Regular */
  color: #ef4444;
}

.input-label-custom-blue {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400; /* Maps to Regular */
  color: #445bef;
}

.input-label-custom-purple {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400; /* Maps to Regular */
  color: #ef44ad;
}

.input-label-custom-orange {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400; /* Maps to Regular */
  color: #eb9225;
}


.url{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400; 
   color: #445bef;
  
}
.custom-height-scrollbar {
  overflow: auto; /* Use 'auto' to apply to both vertical and horizontal scrollbars as needed */
}

/* Scrollbar styling for WebKit browsers */
.custom-height-scrollbar::-webkit-scrollbar {
  width: 3px; /* Thinner scrollbar */
  height: 3px;
}

/* Scrollbar track */
.custom-height-scrollbar::-webkit-scrollbar-track {
  background: #ededf3; /* Lighter background for the track */
  border-radius: 10px;
}

/* Scrollbar thumb */
.custom-height-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ededf3; /* Darker, neutral color for the thumb */
  border-radius: 10px;
  border: 3px solid #b5b5c4; /* Adds a clean border and gives a "floating" effect */
}

/* Scrollbar thumb on hover */
.custom-height-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #ededf3; /* A darker shade on hover for interactivity */
}


.datepicker-popper {
  z-index: 9999 !important;
}

.datepicker-calendar {
  background-color: white !important;

}
/*For scrollbar hiding*/
.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */

}
